# Dependencies
node_modules
node_modules/
/node_modules
/node_modules/*

# Next.js
.next
.next/
/.next
/.next/*
.next/cache/

# Build
dist
build
out

# Environment
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local